<h2>Choose a frosting type</h2>
<div class="field">
  <%= f.label :frosting %><br>
  <%= f.collection_radio_buttons :frosting, Flavour.frosting, :id, :name %>

  <div id="imagePreview">
    
  </div>
</div>