
<h2>Your Cupcake</h2>
<ul class="cupcake_show">
  <li>
    <div class="show_cupcake_label">Base:</div>
    <%= @order.customisation_display(:base) %>
  </li>
  <li>
    <div class="show_cupcake_label">Frosting:</div>
    <%= @order.customisation_display(:frosting) %>
  </li>
  <li>
    <div class="show_cupcake_label">Topping:</div>
    <%= @order.customisation_display(:topping) %>
  </li>
</ul>

  <div id="hidden_form">
  <%= render 'order_form'%>
  </div>
  

<button id="order_button">Order!</button>