
<h2>Your Cupcake</h2>
<p>
  <strong>Base:</strong>
  <%= @order.customisation_display(:base) %>

  <%#= @invoice.user.address.full_address.join(', ') %>
</p>

<p>
  <strong>Frosting:</strong>
  <%= @order.customisation_display(:frosting) %>
</p>

<p>
  <strong>Topping:</strong>
  <%= @order.customisation_display(:topping) %>
</p>





<button>Order!</button>