<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cupcake_section.name %>
</p>

<%= link_to 'Edit', edit_cupcake_section_path(@cupcake_section) %> |
<%= link_to 'Back', cupcake_sections_path %>
