/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* @import url(//fonts.googleapis.com/css?family=Poiret+One);
 @import url(//fonts.googleapis.com/css?family=Satisfy);*/


 body, p {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

.content {
  float: left;
  width: 50%;
  background: rgba(255,240,245, 0.8);
  margin: 20px;
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
}

.content p {
  padding: 10px;
  background: rgba(255,240,245, 0.2);
}

.image-container {
  display: none;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}

img.imagePreview {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img.preload {
  display: none;
}

#main_title {
  float: left;
}

nav {
  margin: 0;
  color: white;
  padding: 20px 40px;
  line-height: 40px;
  background: rgba(255,240,245, 0.2)
}

nav ul {
  width: 50%;
  float: left;
  list-style-type: none;
}

#logout_link {
  float: right;
}

nav a {
  height: 60px;
  width: 60px;
  display: table-cell;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: pink;
  text-decoration: none;
  color: white;
  border-spacing:5px;
  font-size: 15px;
  float: left;
}

#logo {
  float: right;
  color: deeppink;
  font-family: Satisfy;
  font-size: 35px;
  padding-top: 13px;
}

#logo, #logo img {
  display: inline;
}

.split_table {
  display: table-cell;
  width: 5%;
}

nav img {
  width: 45px;
  padding-left: 10px;
}

#design_link {
  margin-top: 50px;
}

#design_link a {
  background: #FF69B4;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

#design_link img, a {
  display: inline;
}

#design_link img {
  width: 40px;
  bottom: 0;
}


#steps_images figure{
  display: inline-block;
  width: 25%;
  text-align: center;
}

#steps_images img {
  width: 72px;
  padding: 20px 20px;
}

#home_icon {
  width: 70px;
}

aside {
  float: right;
  width: 35%;
  background: rgba(255,240,245, 0.8);
  margin: 20px;
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
}

aside img {
  width: 100px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#main_cupcake {
  height: 400px;
  width: 400px;
  position: relative;
  display: block;
  margin: 0 auto;
}
#main_cupcake #image {
  position: absolute;
  left: 0;
  top: 0;
 /* margin: 0 auto;
  display: block;
  width: 500px;
  position: relative;*/
}

#main_cupcake #text {
  position: absolute;
  color: white;
  font-family: Satisfy;
  font-size: 60px;
  left: 75px;
  top: 200px;
  z-index: 100;
  font-weight: bold;
}

#linkie {
  position: relative;
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: pink;
  text-decoration: none;
  color: white;
  left: 300px;
  top: -300px;
}

#linkie_about {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: pink;
  text-decoration: none;
  color: white;
  left: 930px;
  top: -300px;
}

#linkie_contact {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; 
  background: pink;
  text-decoration: none;
  color: white;
  left: 100px;
  top: 100px;
}

#linkie_signin {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: pink;
  text-decoration: none;
  color: white;
  left: 730px;
  top: 100px;
}





.notice, .alert {
  text-align: center;
  padding-top: 30px;
}

#login_page, #register_page {
  text-align: center;
  margin: 50px auto;
  display: block;
  width: 40%;
  background: rgba(255,240,245, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
}

#disclaimer {
  font-size: 12px;
  color: gray;
}


 #order_index {
  text-align: center;
  margin: 50px auto;
  display: block;
  width: 40%;
  background: rgba(255,240,245, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
 }

 #order_index h1 {
  color: deeppink;
  padding: 20px;
 }

 #order_index table {
  padding: 20px;
 }

 #order_index th {
  color: pink;
  font-size: 30px;
  padding: 10px;
 }

 #order_index td img {
  width: 50px;
 }

 #order_index td {
  padding: 20px;
 }

 #order_index a {
  text-decoration: none;
  font-size: 13px;
 }

 #order_index a:hover {
  color: white;
  background: pink;
  /*padding: 2px;*/
  border-radius: 3px;
 }

 .about_page {
  float: left;
  width: 40%;
  background: #FFF0F5;
  margin: 15px;
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
 }

.about_page h1 {
  color: deeppink;
  
}

#about_image {
  width: 753px;
  float: left;
  margin: 15px;
  border-radius: 5px;

}

  #error_explanation {
    color: red;
    border: 1px solid red;
    width: 300px;
    padding: 10px;
  }

  #error_explanation h2 {
    display: none;
  }

  #error_explanation ul {
    list-style-type: none;
  }


 


