/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url(http://fonts.googleapis.com/css?family=Poiret+One);


 body, p {
  font-family: Poiret One;
  font-size: 20px;
  background: url("IMG_7325.JPG") no-repeat center center fixed;
  background-size: cover;

}

.content {
  width: 60%;
  background: rgba(255,240,245, 0.8);
  margin: 20px;
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
  box-shadow: 0 0 15px 1px rgba(255, 20, 147, 0.4);

}

.content p {
  padding: 10px;
  background: rgba(255,240,245, 0.2);
}

.image-container {
  display: none;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
}

img.imagePreview {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img.preload {
  display: none;
}

#main_title {
  float: left;
  width: 25%;
  font-size: 45px;
}

.login {
  width: 20%;
  float: right;
  color: grey;
}

nav {
  background: #ff87c3;
  margin: 0;
  color: white;
  padding: 20px 40px;
  line-height: 40px;
}

nav ul {
  width: 50%;
  float: left;
  list-style-type: none;
}

nav ul li{
  float: left;
  padding: 0 30px;
}

nav a {
  text-decoration: none;
  color: white;
}

/*nav ul li:hover {
  color: deeppink;
}*/

nav img {
  width: 45px;
  padding-left: 10px;

}

nav a:hover {
  color: deeppink;
}

#design_link {
  margin-top: 50px;
}

#design_link a {
  background: #FF69B4;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

#design_link img, a {
  display: inline;
}

#design_link img {
  width: 50px;
  bottom: 0;
}



#hidden_form {
  display: none;
  float: right;
  width: 40%;
  background: #FFF0F5;
  margin: 15px;
  border-radius: 5px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: grey;
}

#steps_images figure{
  display: inline-block;
  width: 25%;
  text-align: center;
}

/*#steps_images figcaption{
  
}*/



#steps_images img {
  width: 70px;
  padding: 20px 20px;
}

#home_icon {
  width: 70px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




