// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com//*custom font*/




/*custom font*/




/*basic reset*/
* {margin: 0; padding: 0;}

html {
 height: 100%;
 
}

/*form styles*/
#msform {
 width: 700px;
 margin: 50px auto;
 text-align: center;
 position: relative;
}
#msform fieldset {
 background: #FFF0F5;
 border: 0 none;
 border-radius: 3px;
 box-shadow: 0 0 15px 1px rgba(255, 20, 147, 0.4);
 padding: 70px 30px;
 box-sizing: border-box;
 width: 80%;
 margin-bottom: 150px;
 margin-right: 10%;
 margin-left: 10%;
 position: absolute;
}


#msform fieldset:not(:first-of-type) {
 display: none;
}

#msform .action-button {
 width: 100px;
 background: deeppink;
 font-family: Poiret One;
 font-weight: bold;
 color: white;
 border: 0 none;
 font-size: 15px;
 border-radius: 3px;
 cursor: pointer;
 padding: 10px 5px;
 margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
 box-shadow: 0 0 0 2px white, 0 0 0 3px deeppink;
}
/*headings*/
.fs-title {
 font-size: 25px;
 text-transform: uppercase;
 color: deeppink;
 
}

/*progressbar*/
#progressbar {
 margin-bottom: 30px;
 overflow: hidden;
 /*CSS counters to number the steps*/
 counter-reset: step;
  width: 420px;
  margin: 20px auto; 
}

#progressbar li {
 list-style-type: none;
 color: #FF69B4;
 text-transform: uppercase;
 font-size: 13px;
 width: 100px;
 height: 150px;
 box-sizing: border-box;
 float: left;
 position: relative;
 margin: 0 20px;
}

#progressbar li:before {
 content: counter(step);
 counter-increment: step;
 width: 96px;
 line-height: 96px;
 display: block;
 // border-radius: 100%; 
 font-size: 12px;
 color: white;
 // background: url("/assets/chocolate-vanillabase.png") no-repeat center center;
 // background-size: 100% 100%;
 // background-size: 70% auto;
 // margin: 0 auto 5px auto;
 background: url("/assets/chocolate-vanillabase.png") no-repeat center center;
 background-size: 70% auto;
 border-radius: 100%;
}

#progressbar li:first-child:after {
 content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
 border: 2px solid deeppink;
}

#orders_new_title {
  text-align: center;
  font-size: 50px;
  color: #FF00AA;
  padding-top: 50px;
}

.collection_select select{
  // font-size: 150%;
  font-family: Poiret One;
  color: gray;
}

.cupcake_show_text {
  width: 40%;
  float: left;
}


ul.cupcake_show {
  padding: 20px 0;
  list-style-type: none;
}

.order_button {
  float: left;
  background: deeppink;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
}


.continue_button {
  float: left;
  background: deeppink;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
}

.order_button:hover, .continue_button:hover {
  cursor: pointer;
}

.content_order {
  float: left;
  width: 40%;
  background: #FFF0F5;
  margin: 20px;
  border-radius: 5px;
  padding: 30px 20px;
  color: grey;
}

.content_order img {
  float: right;
}


#image_cupcake {
  float: right;
  width: 200px;
  margin-right: 20px 
}


 @-webkit-keyframes pulse_animation {
    0% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1); }
    40% { -webkit-transform: scale(1.08); }
    50% { -webkit-transform: scale(1); }
    60% { -webkit-transform: scale(1); }
    70% { -webkit-transform: scale(1); }
    80% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
  }


#main_cupcake img {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 9000ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}



